@model Web_Music.Models.TIN_MOI
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/NewLayoutAdmin.cshtml";
}
@section Head{
    <title>Add New</title>
}
<form class="content-wrapper" action="~/Admin/TINMOI/Create" method="post">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>NEW Add</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">New Add</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" id="inputName" class="form-control" name="TenTM">
                        </div>

                        <div class="form-group">
                            <label for="inputName">Time</label>
                            <input type="text" id="inputName" class="form-control" name="ThoiGian">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Link</label>
                            <input type="text" id="inputName" class="form-control" name="URL_link">
                        </div>



                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
							<label for="exampleInputFile">Picture</label>

                            <div class="input-group">
                                <img src="@Url.Content(Model.URL_img)" class="profile-user-img img-fluid img-circle" id="previewImage" />
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>

                            </div>


                        </div>
                        <!-- /.card-body -->
                        <!--</div>-->
                        <!-- /.card -->
                        <!--</div>
                        </div>-->
                        <div class="row ">
                            <div class="col-12">
                                <a href="~/Admin/TINMOI/Index" class="btn btn-secondary" style="margin-right:400px;">Cancel</a>
                                <input type="submit" value="Create" class="btn btn-success float-right">
                            </div>
                        </div>
    </section>
    <!-- /.content -->
</form>