
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<form method="post" enctype="multipart/form-data" action="/Admin/SANPHAM/test">
	<input type="file" name="fileUpload" />
	<button type="submit">gui</button>
</form>
