
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Context1</title>
</head>
<body>
    <div> 
        <p>tesstggvgh</p>
        <p>@ViewBag.id</p>
        @Html.Partial("par")
        @{Html.RenderPartial("par");}
        
    </div>
</body>
</html>
