<form class="modal dangnhap" action="~/Introduce/DangNhap">
    <div class="modal_overlay"></div>
    <div class="modal_body">
        <!--  begin modal-inner  -->
        <div class="modal_inner">
            <!-- form login .. -->
            <div class="greeting">
                <div class="greeting_group">
                    <h3 id="h">Chào mừng bạn đến với CNTT2.MUSIC</h3>
                    <p id="intro">
                        Cung cấp nhạc, podcast và video ký thuật số
                        cho phép bạn truy cập hàng triệu bài hát và các nội dung
                        khác của các nghệ sĩ trên thế giới.
                    </p>
                </div>
            </div>
            <!-- sign -->
            <div class="sign">
                <div class="icon-close dangnhap">
                    <i class="ti-close"></i>
                </div>

                <div class="sign-group">

                    <div class="sign-header">

                        <h3 class="sign-heading">Đăng nhập </h3>
                    </div>

                    <div class="sign-form">
                        <div class="sign-form-group">
                            <i class="ti-user"></i><input type="text" class="sign-form-input"
                                                          placeholder="Nhập vào tên tài khoản" name="UserName">
                        </div>
                        <div class="sign-form-group">
                            <i class="ti-lock"></i><input type="text" class="sign-form-input"
                                                          placeholder="Nhập vào mật khẩu" name="Pass">
                        </div>

                        <div class="sign-check1">
                            <i class="ti-check"></i><label class="sign-radio">
                                Nhớ tài
                                khoản
                            </label>
                        </div>
                        <div class="sign-check1"><label class="sign-radio "> Quên mật khẩu?</label></div>


                    </div>
                    <div class="sign-control">
                        <div><button type="submit" class="btn">Xác nhận </button></div>
                        @*<div><button class="btn btn-dangky">Đăng ký </button></div>*@



                    </div>
                </div>

            </div>
            <!-- end sign -->

        </div>
    </div>
</form>
