@using Web_Music.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
    MyDBConect db = new MyDBConect();
    List<NGHE_SI> listArtist = db.NGHE_SI.ToList();
}
@section Head{
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="~/Assets/css/styleMain.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/css/responsiveMain.css">
    <link rel="stylesheet" href="~/Assets/imgMain/">
    <link rel="stylesheet" href="~/Assets/css/extraStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"
          rel="stylesheet">
}
@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

}
<div id="main-content__Notable">
    <header>
        <nav class="main-content__header-nav">
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-arrow-right"></i>
        </nav>
        <form class="main-content__search-form" action="/Home/index" method="post">
            <i class="fas fa-search search-btn"></i>

            <input type="text" class="search-input" placeholder="Search for artist, songs....." name="value">
            <button type="submit"></button>
        </form>
    </header>
    <!-- Slider -->
    <div class="Notable-slider">
        <div class="container">
            <h2>New Artits</h2>
            <section class="customer-logos slider">
                @foreach (var item in listArtist)
                {
                    <a class="slide" href="/Home/DetailArtists?mans=@item.mans">
                        <img src=@item.URL_img.TrimStart('~')>
                    </a>
                }


            </section>
        </div>
        <script>
            $(document).ready(function () {
                $('.customer-logos').slick({
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 1500,
                    arrows: false,
                    dots: false,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 5
                        }
                    }, {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 4
                        }
                    }]
                });
            });
        </script>
    </div>
    <!-- maybe you want to listen -->
    <div class="Notable-Want">
        <h2>Maybe you want to listen:</h2>

        <div class="row">

            <!-- Border Left Utilities -->
            <div class="col-lg-pull-2">
                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want1.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Những bản HIT quốc dân
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want2.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Hottest music release
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

            </div>

            <div class="col-lg-pull-2">
                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want9.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Nhạc phim Hàn Quốc
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want10.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Bài nhạc yêu thích
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

            </div>


            <div class="col-lg-pull-2">
                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want3.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Giọng ca nữ nổi bật
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want4.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        US-UK
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

            </div>


            <div class="col-lg-pull-2">
                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want5.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Bài hát tân binh K-Pop
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want6.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Rising Hits POP
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

            </div>


            <div class="col-lg-pull-2">
                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want7.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        Hội nhạc 2022
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

                <div class="want-frames">
                    <div class="card mb-4 py-3 border-left-primary want-img"
                         style="background-image: url('/Assets/img/imgMain/imgNotable/want8.jpg')">
                    </div>
                    <h5 class="want-img__name">
                        KPOP 2022
                    </h5>
                    <span class="want-play">
                        <i class="fa-regular fa-circle-play"></i>
                    </span>
                </div>

            </div>
        </div>


    </div>
    <!-- music partner -->
    <div class="music-partner">
        <div class="music-partner__frames">
            <h4>Music Partner</h4>
            <div class="music-partner__items">

                <img src="/Assets/img/imgMain/imgPartner/beggers.png" alt="beggers" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/empire.png" alt="empire" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/FUGA.png" alt="fuga" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/Kakao-M.png" alt="Kakao-M" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/monstercat.png" alt="monstercat" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/orcahrd.png" alt="orcahrd" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/SM-Entertainment.png" alt="SM-Entertainment"
                     class="partner">
                <img src="/Assets/img/imgMain/imgPartner/sony.png" alt="sony" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/universal-1.png" alt="universal" class="partner">
                <img src="/Assets/img/imgMain/imgPartner/User.png" alt="YG" class="partner">
            </div>
        </div>
    </div>
</div>

